*
{
    background-image: url("https://wallpapercave.com/wp/wp4103005.jpg");
    background-size: cover;
}
h3{
    color:white;
    font-size: 60px;
}
#a1
{
    color: white;
    font-size: 50px;
    background:black;
}
