*
{
  background-image: "https://img.freepik.com/premium-vector/night-with-clouds-weather-app-screen-mobile-interface-design-forecast-weather-background-time-concept-vector-banner_87946-4287.jpg";
 background-size: cover;
 background-attachment: fixed;
}