.home
{
    background-image: url('../assets/bg1.jpg');
    background-size: cover;
    width: 190%;
    height: 600px;
}
.h1
{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 90px;
    position: absolute;
    margin-left: 50%;
    margin-top: 10%;
}
.para1
{
    color: silver;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    position: absolute;
    margin-left: 58%;
    margin-top: 20%;
}
button
{
    color: black;
    margin-left: 61%;
    margin-top: 27%;
    width: 17%;
    height: 70px;

}