*
{
   
    background-image: url("https://images.hdqwalls.com/wallpapers/blur-background-6z.jpg");
    justify-content: space-between;
}
.img_div img
{
  width: 350px;
  height: 350px;
  justify-content:space-around;

  

}
.image1{
    background-image: url("https://th.bing.com/th/id/OIP.BYEMsOw-QBJPw_JMWhHWyAHaFO?pid=ImgDet&w=474&h=334&rs=1");
}
h3
{
     color: palevioletred;
     font-size: 50px;
     background: white;
     box-shadow: 6px  6px purple;
}
h1 
{
    background-image: url("https://th.bing.com/th/id/OIP.BYEMsOw-QBJPw_JMWhHWyAHaFO?pid=ImgDet&w=474&h=334&rs=1");
    color: white;
}



